body
{
	background-color: black; 
	font-family: Verdana;
	font-size: 20px;
	color: white;
	text-align:center;
	
}

h1
{
	font-size: 48px;
	color: darkblue;
}

input
{
text-align: right;
}